.header {
    background-image: url('https://i.ibb.co/XCFpkn6/ezgif-com-gif-maker-5.gif');
    height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

/*.header h1, p {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    position: relative;*/
/*}*/
